address, article, aside, blockquote, body,
canvas, dd, div, dl, fieldset, figcaption,
figure, footer, form, h1, h2, h3, h4, h5, h6,
header, hgroup, hr, html, li, main, nav,
noscript, ol, output, p, pre, section, table,
tfoot, ul, video {
  margin: 0;
  padding: 0; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "Noto Sans", "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif;
  font-size: 16px;
  color: #666;
  background-color: #fff; }

a {
  color: #55ccee;
  text-decoration: none; }

.header {
  width: 100%;
  background-color: #ffaa22; }
  .header .logo {
    margin-bottom: 40px;
    position: relative;
    padding: 16px; }
    .header .logo img {
      position: absolute;
      left: 16px;
      top: 16px;
      border-style: none;
      width: 32px;
      height: 32px;
      opacity: .9; }
    .header .logo h1 {
      font-size: 1.2em;
      line-height: 32px;
      letter-spacing: 1px;
      margin-left: 40px;
      font-weight: 500;
      color: rgba(255, 255, 255, 0.9); }
  .header .intro {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 36px;
    margin-bottom: 48px; }
    .header .intro .screenshot {
      position: relative;
      max-width: 640px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 32px; }
      .header .intro .screenshot a img {
        border-style: none;
        width: 100%;
        box-shadow: 0 0 32px rgba(0, 0, 0, 0.5); }
    .header .intro p {
      font-size: 2.5em;
      margin-bottom: 8px;
      font-weight: 200;
      color: #fff;
      text-align: center; }

.downloads {
  padding-bottom: 60px; }
  .downloads h2 {
    color: #aaa;
    text-align: center;
    margin-bottom: 24px;
    text-transform: uppercase; }
  .downloads ul {
    list-style-type: none;
    width: 440px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px; }
    .downloads ul li {
      margin-bottom: 8px; }
      .downloads ul li .name {
        display: inline-block;
        width: 130px;
        text-align: right;
        margin-right: 16px; }
      .downloads ul li .link {
        color: #ffaa22;
        text-decoration: underline; }
  .downloads .alt {
    text-align: center;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
    border-top: 1px solid #ffaa22; }
    .downloads .alt a {
      text-decoration: underline; }

@media (max-width: 767px) {
  .header .intro p {
    font-size: 1.8em; } }
