// default fonts and color
// $defaultFontFamily: "Helvetica Neue", Helvetica, "DejaVu Sans", "Microsoft YaHei", Arial, sans-serif;
// $defaultFontFamily: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
$defaultFontFamily: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "Noto Sans", "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif;

$defaultFontSize: 16px;
$defaultFontColor: #666;
$secondFontColor: #aaa;
$defaultBackgroundColor: #fff;
$titleColor: #ffaa22;
$subTitleColor: #ee662a;
$linkColor: #55ccee;
$selectedBackgroundColor: #2b8ffc;

// clear all block level tags margin and padding.
// see also:
// https://developer.mozilla.org/en-US/docs/Web/HTML/Block-level_elements
// some reserve tags:
// audio, center, dir, dt, frameset, isindex, menu, noframes,
// tbody, td, th, thead, tr
address, article, aside, blockquote, body,
canvas, dd, div, dl, fieldset, figcaption,
figure, footer, form, h1, h2, h3, h4, h5, h6,
header, hgroup, hr, html, li, main, nav,
noscript, ol, output, p, pre, section, table,
tfoot, ul, video {
    margin: 0;
    padding: 0;
}

body {
    font-family: $defaultFontFamily;
    font-size: $defaultFontSize;
    color: $defaultFontColor;
    background-color: $defaultBackgroundColor;
}

a {
    color: $linkColor;
}

.header {
    background-color: $titleColor;
    color: $defaultBackgroundColor;
    margin-bottom: 48px;
    text-align: center;
    padding: 0 16px 32px;

    .wall {
        position: relative;
        padding-top: 36px;
        padding-bottom: 24px;

        .logo {
            width: 160px;
            height: 160px;
            border-radius: 80px;
            position: relative;
            margin-left: auto;
            margin-right: auto;

            background-color: rgba(255,255,255,.9); // $defaultBackgroundColor;

            // background-image: radial-gradient(
            //         circle at top right,
            //         rgba(255,255,255,.9),
            //         rgba(255,255,255,.6)
            //     );

            .y {
                position: absolute;
                font-size: 128px;
                top: -26px;
                left: 18px;
                color: $titleColor;
            }

            .u {
                position: absolute;
                left: 104px;
                top: 60px;
                font-size: 32px;
                color: $titleColor;
            }
        }
    }


    h1 {
        font-size: 1.5em;
        letter-spacing: 3px;
        margin-bottom: 24px;
        font-weight: 400;
        // font-family: 'Raleway', $defaultFontFamily;
    }

    h2 {
        font-size: 2em;
        margin-bottom: 8px;
        font-weight: 300;
    }

    .intro {
        font-size: 1.1em;
        //font-weight: 300;
        color: rgba(255, 255, 255, .75);
    }
}

.download-button {
    padding: 0 16px;
    margin-bottom: 88px;

    .action {
        text-align: center;

        .button {
            display: inline-block;
            position: relative;
            width: 160px;
            height: 40px;
            margin-bottom: 32px;
            border-radius: 4px;
            background-color: $subTitleColor;
            color: $defaultBackgroundColor;

            // see also
            // https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions
            transition-property: background-color;
            transition-timing-function: ease-in-out;
            transition-duration: .35s;

            &:hover {
                background-color: $titleColor;
            }

            &:active {
                background-color: darken($subTitleColor, 10%);
            }

            .fa {
                position: absolute;
                left: 12px;
                top: 6px;
                font-size: 28px;
                width: 28px;
                height: 28px;
            }

            .title {
                margin-top: 10px;
                margin-left: 32px;
                letter-spacing: 3px;
            }
        }

        .hint {
            color: $secondFontColor;
            font-size: .9em;
        }
    }

}

.feature {
    padding: 0 16px;
    margin-bottom: 80px;
    max-width: 1152px;

    margin-left: auto;
    margin-right: auto;

    .screenshot {
        width: 50%;
        float: left;

        img {
            width: 100%;

			&.large {
				cursor: pointer;
				transition: transform .5s ease-in-out;
			}
        }

		&.gallery {
			position: relative;

			.galleryimg {
				left: 0;
				top: 0;
				position: absolute;
			}
		}

		&.gallery4 {

			.galleryimg {
				width: 85%;

				&.img1of4 {
					margin-left: 0;
					margin-top: 0;
				}

				&.img2of4 {
					margin-left: 5%;
					margin-top: 5%;
				}

				&.img3of4 {
					margin-left: 10%;
					margin-top: 10%;
				}

				&.img4of4 {
					margin-left: 15%;
					margin-top: 15%;
				}
			}
		}
    }

    .content {
        width: 50%;
        margin-left: 50%;

        .frame {
            padding-top: 16px;
            margin-left: 24px;

            h2 {
                font-size: 2em;
                margin-bottom: 16px;
                font-weight: 200;
                color: $titleColor;
            }

			.detail {
				font-size: 1.2em;
				font-weight: 300;
				line-height: 2em;
			}
        }
    }

    &.right {
        .screenshot {
            float: right;
        }

        .content {
            margin-left: 0;
            margin-right: 50%;

            .frame {
                margin-left: 0;
                margin-right: 24px;
            }
        }
    }

    // see also
    // https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes
    // https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements
    &::after {
        // clear left float
        content: (" ");
        display: block;
        clear: both;
    }
}

.feature-more {

    .screenshot {
        ul {
            list-style-type: none;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            padding: 16px;

            li {
                width: 100px;
                height: 100px;
                background-color: $titleColor;
                color: $defaultBackgroundColor;
                border-radius: 4px;

                display: block;
                float: left; // for fallback

                text-align: center;
                margin-left: 8px;
                margin-right: 8px;
                margin-bottom: 16px;

                padding: 8px;

                .fa {
                    display: block;
                    font-size: 48px;
                    width: 48px;
                    height: 48px;
                    margin: 12px auto 8px;
                }

                .title {
                    font-size: .8em;
                    // font-weight: normal;
                }
            }

            // see also
            // https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes
            // https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements
            &::after {
                // clear left float
                content: (" ");
                display: block;
                clear: left;
            }
        }
    }

    .content {
        .frame {
            ul {
                li {
                    color: $defaultFontColor;
                }
            }
        }
    }
}

@keyframes jump {
	0% {transform: translateY(0);}
	10% {transform: translateY(-16px);}
	20% {transform: translateY(0);}
}

.gallery {
	&.animate {
		.galleryimg {
			animation-name: jump;
			animation-duration: 3s;
			animation-iteration-count: infinite;
			animation-timing-function: ease-in-out;

			&.img1of4 {
				animation-delay: 1s;
			}

			&.img2of4 {
				animation-delay: .75s;
			}

			&.img3of4 {
				animation-delay: .5s;
			}

			&.img4of4 {
				animation-delay: .25s;
			}
		}
	}
}

.heading {
	padding: 0 16px;
    margin-bottom: 88px;

	.content {
		h2 {
			text-transform: uppercase;
			text-align: center;
			font-size: 2em;
			margin-bottom: 16px;
			font-weight: 200;
			color: $titleColor;
		}
	}
}


.mask {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,.2);
}

table {
	margin-top: 32px;
	margin-bottom: 32px;

	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;

	th {
		text-align: left;
	}

	td, th {
		padding: 8px;
		line-height: 1.4;
		vertical-align: top;
		border-top: 1px solid darken(#fbf5e9, 5%);;
	}

	thead tr th {
		border-top-style: none;
		vertical-align: bottom;
		border-bottom: 2px solid darken(#fbf5e9, 10%);
	}

	tbody tr:first-child td {
		border-top-style: none;
	}

	tbody tr:nth-child(odd) td {
		background-color: darken(#fbf5e9, 2%);
	}
}

.download-list {

	padding: 0 16px;
    margin-bottom: 88px;

	.content {
		max-width: 760px;
		margin-left: auto;
		margin-right: auto;
	}

	table {
		.platform {
			width: 40%;
			position: relative;

            .fa {
                display: block;
                position: absolute;
                left: 22px;
                top: 8px;
                font-size: 20px;
				text-align: center;
                width: 20px;
                height: 20px;
            }

            .name {
                margin-left: 42px;
                margin-top: 10px;
                font-size: 14px;
                text-align: center;
            }

            &.windows {
                .fa {
                    font-size: 18px;
                }
            }

            &.rasberrypi {
                img {
                    display: block;
                    position: absolute;
                    left: 21px;
                    top: 8px;
                    width: 20px;
                    height: 20px
                }
            }			
		}

		.file {
			width: 20%;
			text-align: center;
		}

		.alt {
			width: 20%;
			text-align: center;
		}

		.note {
			width: 20%;
		}
	}

    .notice {
		margin-top: 64px;
		margin-left: 16px;

        color: $secondFontColor;

		li {
			line-height: 1.6em;
			margin-bottom: 16px;
		}
       
    }
}

.note-list {

	padding: 0 16px;
    margin-bottom: 88px;

	.content {
		max-width: 760px;
		margin-left: auto;
		margin-right: auto;
	}

	.section {
		margin-bottom: 32px;
		position: relative;

		h3 {
			font-size: 1.5em;
			font-weight: 200;
			color: $titleColor;
			border-bottom: 1px solid $subTitleColor;
			padding: 8px 4px;
			margin-bottom: 24px;
		}

		.date {
			position: absolute;
			top: 16px;
			right: 0;
			color: $secondFontColor;
			font-size: .9em;
		}

		.note {
			font-size: 1.1em;
			font-weight: 200;
			margin-bottom: 24px;
			line-height: 1.6em;
		}

		ul {
			margin-left: 16px;

			li {
				color: $secondFontColor;
				margin-bottom: 8px;
				line-height: 1.6em;
			}
		}
	}

}


.about {

	padding: 0 16px;
    margin-bottom: 88px;

	.content {
		max-width: 760px;
		margin-left: auto;
		margin-right: auto;
	}

	.message {
		margin-top: 64px;
		margin-left: 16px;

        color: $secondFontColor;

		p {
			margin-bottom: 24px;
			line-height: 2em;
		}
       
    }
}

.footer {
    margin-top: 80px;

    .link {
		list-style-type: none;
		text-align: center;
		padding: 8px 16px;

		li {
			display: inline-block;
			margin-left: 12px;

			&:first-child {
				margin-left: 0;
			}

			a {
				color: $titleColor;
				text-decoration: none;

				&:hover {
					color: $subTitleColor;
				}

				&:active {
					color: darken($subTitleColor, 10%);
				}
			}
		}
    }

	.bar {
		height: 8px;
		background-color: $titleColor;
	}

}

@media (max-width: 992px) {

    .feature .content .frame {
        padding-top: 0;
        margin-left: 16px;
    }

    .feature-more .screenshot ul {
        padding: 0;

        li {
            width: 80px;
            height: 80px;

            .fa {
                display: block;
                font-size: 36px;
                width: 36px;
                height: 36px;
                margin: 4px auto 8px;
            }
        }
    }

}

@media (max-width: 767px) {

    .header {
        .wall .logo {
            zoom: .8;
        }
    }

    body {
        font-size: 14px;
    }

    .feature {
        .screenshot {
            width: 100%;
            float: none;
            margin-bottom: 8px;
        }

        .content {
            width: 100%;
            margin-left: 0;

            .frame {
                margin-left: 0;

				.detail {
					text-align: center;
				}
            }

            h2 {
                text-align: center;
            }
        }

        &.right {
            .screenshot {
                float: none;
            }

            .content {
                margin-right: 0;
            }
        }
    }

    .feature-more .screenshot ul {
        justify-content: center;

        li {
            margin-left: 4px;
            margin-right: 4px;
        }
    }
}
