// default fonts and color
$defaultFontFamily: "Helvetica Neue", Helvetica, "DejaVu Sans", "Microsoft YaHei", Arial, sans-serif;
$defaultFontSize: 16px;
$defaultFontColor: #666;
$defaultBackgroundColor: #fff;
$titleColor: #ffaa22;
$subTitleColor: #ee662a;
$linkColor: #55ccee;
$selectedBackgroundColor: #2b8ffc;

// clear all block level tags margin and padding.
// see also:
// https://developer.mozilla.org/en-US/docs/Web/HTML/Block-level_elements
// some reserve tags:
// audio, center, dir, dt, frameset, isindex, menu, noframes,
// tbody, td, th, thead, tr
address, article, aside, blockquote, body,
canvas, dd, div, dl, fieldset, figcaption,
figure, footer, form, h1, h2, h3, h4, h5, h6,
header, hgroup, hr, html, li, main, nav,
noscript, ol, output, p, pre, section, table,
tfoot, ul, video {
    margin: 0;
    padding: 0;
}

body {
    font-family: $defaultFontFamily;
    font-size: $defaultFontSize;
    color: $defaultFontColor;
    background-color: $defaultBackgroundColor;
}

a {
    color: $linkColor;
}

.header {
    background-color: $titleColor;
    color: $defaultBackgroundColor;
    margin-bottom: 48px;
    text-align: center;
    padding: 0 16px 32px;

    .wall {
        position: relative;
        padding-top: 36px;
        padding-bottom: 24px;

        .logo {
            width: 160px;
            height: 160px;
            border-radius: 80px;
            position: relative;
            margin-left: auto;
            margin-right: auto;

            background-color: rgba(255,255,255,.9); // $defaultBackgroundColor;

            // background-image: radial-gradient(
            //         circle at top right,
            //         rgba(255,255,255,.9),
            //         rgba(255,255,255,.6)
            //     );

            .y {
                position: absolute;
                font-size: 128px;
                top: -26px;
                left: 18px;
                color: $titleColor;
            }

            .u {
                position: absolute;
                left: 104px;
                top: 60px;
                font-size: 32px;
                color: $titleColor;
            }
        }
    }


    h1 {
        font-size: 1.5em;
        letter-spacing: 3px;
        margin-bottom: 24px;
        font-weight: 400;
        font-family: 'Raleway', $defaultFontFamily;
    }

    h2 {
        font-size: 2em;
        margin-bottom: 8px;
        font-weight: 300;
    }

    .intro {
        font-size: 1.1em;
        font-weight: 200;
    }
}

.glance {
    padding: 0 16px;
    margin-bottom: 88px;

    .content {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;

        max-width: 960px;
        line-height: 1.8;
        color: #999;
        // font-weight: 200;
        font-size: 1.1em;

        a {
            color: #999;
            text-decoration: underline;
        }
    }

    .action {
        text-align: center;

        .play {
            display: inline-block;
            position: relative;
            width: 160px;
            height: 40px;
            margin-bottom: 32px;
            border-radius: 4px;
            background-color: $subTitleColor;
            color: $defaultBackgroundColor;

            // see also
            // https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions
            transition-property: background-color;
            transition-timing-function: ease-in-out;
            transition-duration: .35s;

            &:hover {
                background-color: $titleColor;
            }

            &:active {
                background-color: darken($subTitleColor, 10%);
            }

            .fa {
                position: absolute;
                left: 28px;
                top: 6px;
                font-size: 28px;
                width: 28px;
                height: 28px;
            }

            .title {
                margin-top: 10px;
                margin-left: 32px;
                letter-spacing: 3px;
            }
        }

        .hint {
            color: #aaa;
            font-size: .9em;
            // font-weight: 200;
        }
    }

}

.feature {
    padding: 0 16px;
    margin-bottom: 80px;
    max-width: 1152px;

    margin-left: auto;
    margin-right: auto;

    .screenshot {
        width: 55%;
        float: left;

        img {
            width: 100%;
        }
    }

    .content {
        width: 45%;
        margin-left: 55%;

        .frame {
            padding-top: 16px;
            margin-left: 24px;

            h2 {
                font-size: 2em;
                margin-bottom: 16px;
                font-weight: 400;
                color: #ffaa22;
                font-family: 'Raleway', $defaultFontFamily;
            }

            p {
                // font-weight: 200;
                margin-bottom: 12px;
            }

            ul {
                list-style-type: none;

                li {
                    // font-weight: 200;
                    margin-bottom: 12px;
                    color: #999;

                    strong {
                        color: $defaultFontColor;
                    }
                }
            }
        }
    }

    &.right {
        .screenshot {
            float: right;
        }

        .content {
            margin-left: 0;
            margin-right: 55%;

            .frame {
                margin-left: 0;
                margin-right: 24px;
            }
        }
    }

    // see also
    // https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes
    // https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements
    &::after {
        // clear left float
        content: (" ");
        display: block;
        clear: both;
    }
}

.feature-style {

    .screenshot {
        ul {
            list-style-type: none;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            padding: 16px;

            li {
                width: 100px;
                height: 100px;
                background-color: $titleColor;
                color: $defaultBackgroundColor;
                border-radius: 4px;

                display: block;
                float: left; // for fallback

                text-align: center;
                margin-left: 8px;
                margin-right: 8px;
                margin-bottom: 16px;

                padding: 8px;

                .fa {
                    display: block;
                    font-size: 48px;
                    width: 48px;
                    height: 48px;
                    margin: 12px auto 8px;
                }

                .title {
                    font-size: .8em;
                    // font-weight: normal;
                }
            }

            // see also
            // https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes
            // https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements
            &::after {
                // clear left float
                content: (" ");
                display: block;
                clear: left;
            }
        }
    }

    .content {
        .frame {
            ul {
                li {
                    color: $defaultFontColor;
                }
            }
        }
    }
}

.feature-plugin {
    display: none;

    .screenshot {
        ul {
            list-style-type: none;
            padding: 16px 0;
            margin-right: 48px;

            li {
                position: relative;
                box-sizing: border-box;
                width: 100%;
                //max-width: 360px;
                height: 40px;
                background-color: $titleColor;
                color: $defaultBackgroundColor;
                //color: rgba(0,0,0,.5);
                border-radius: 4px;

                display: block;
                margin-bottom: 8px;

                padding: 8px;

                .fa {
                    position: absolute;
                    display: block;
                    font-size: 32px;
                    width: 32px;
                    height: 32px;
                    top: 4px;
                    left: 16px;
                }

                .title {
                    margin-left: 56px;
                    margin-top: 2px;
                }
            }
        }
    }
}

section {
    max-width: 1152px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
    padding: 0 16px;

    h2 {
        text-align: center;
        font-size: 2.5em;
        text-transform: uppercase;
        letter-spacing: 8px;
        margin-bottom: 16px;
        color: $titleColor;
        font-weight: 400;
        font-family: 'Raleway', $defaultFontFamily;
    }

    .sub-title {
        text-align: center;
        font-size: 1.2em;
        font-weight: 300;
        margin-bottom: 64px;
    }
}

section.special {
    ul {
        list-style-type: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        li {
            padding-left: 24px;
            padding-right: 24px;
            margin-bottom: 56px;

            box-sizing: border-box;
            flex: 0 0 33%;

            .frame {
                // max-width: 360px;
                // max-height: 360px;
                // overflow: hidden;
                // margin-left: auto;
                // margin-right: auto;
                text-align: center;
                margin-bottom: 32px;

                .fa {
                    display: inline-block;
                    font-size: 72px;
                    width: 72px;
                    height: 72px;
                }
            }

            h3 {
                text-align: center;
                font-size: 18px;
                margin-bottom: 12px;
            }

            .content {
                padding: 0 16px;
            }
        }
    }
}

.download {
    h2 {
        margin-bottom: 48px;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        margin-bottom: 16px;

        li {
            float: left; // for fallback

            position: relative;
            display: block;

            cursor: pointer;

            background-color: darken($linkColor, 15%);
            width: 136px;
            height: 36px;
            margin-left: 8px;
            margin-right: 8px;
            margin-bottom: 16px;

            border-radius: 4px;
            color: #fff;

            // see also
            // https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions
            transition-property: background-color;
            transition-timing-function: ease;;
            transition-duration: .35s;

            .fa {
                display: block;
                position: absolute;
                left: 22px;
                top: 8px;
                font-size: 20px;
                width: 20px;
                height: 20px;
            }

            .name {
                margin-left: 12px;
                margin-top: 10px;
                font-size: 13px;
                text-align: center;
            }

            &.windows {
                .fa {
                    font-size: 18px;
                }
            }

            &.rasberrypi {
                img {
                    display: block;
                    position: absolute;
                    left: 22px;
                    top: 8px;
                    width: 20px;
                    height: 20px
                }

                .name {
                    margin-top: 12px;
                    font-size: 12px;
                    margin-left: 32px;
                }
            }

            &:hover {
                background-color: darken($linkColor, 35%);
            }

            &:active {
                background-color: darken($linkColor, 55%);
            }
        }

        // see also
        // https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes
        // https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements
        &::after {
            // clear left float
            content: ("");
            display: block;
            clear: left;
        }
    }

    .notice {
        margin-bottom: 8px;
        text-align: center;
        color: #ccc;
    }
}


.footer {
    margin-bottom: 80px;

    h3 {
        text-align: center;
        font-size: 1.5em;
        letter-spacing: 2px;
        margin-bottom: 8px;
        font-weight: 400;
        color: $titleColor;
    }

    .follow-list {
        text-align: center;

        a {
            color: #1da1f2;

            .fa {
                font-size: 48px;
            }

            &:hover {
                color: darken(#1da1f2, 10%);
            }
            &:active {
                color: darken(#1da1f2, 50%);
            }
        }
    }

}

@media (max-width: 992px) {
    .feature .content .frame {
        padding-top: 0;
        margin-left: 16px;
    }

    .feature-style .screenshot ul {
        padding: 0;

        li {
            width: 80px;
            height: 80px;

            .fa {
                display: block;
                font-size: 36px;
                width: 36px;
                height: 36px;
                margin: 4px auto 8px;
            }
        }
    }

    section.special ul li {
        padding-left: 8px;
        padding-right: 8px;

        .content {
            padding: 0 8px;
        }
    }
}

@media (max-width: 767px) {

    .header {
        .wall .logo {
            zoom: .8;
        }
    }

    body {
        font-size: 14px;
    }

    .feature {
        .screenshot {
            width: 100%;
            float: none;
            margin-bottom: 8px;
        }

        .content {
            width: 100%;
            margin-left: 0;

            .frame {
                margin-left: 0;
            }

            h2 {
                text-align: center;
            }
        }

        &.right {
            .screenshot {
                float: none;
            }

            .content {
                margin-right: 0;
            }
        }
    }

    .feature-style .screenshot ul {
        justify-content: center;
    }

    .feature-plugin .screenshot ul {
        margin-right: 0;

        li {
            height: 32px;

            .fa {
                font-size: 16px;
                width: 16px;
                height: 16px;
                top: 8px;
                left: 16px;
            }

            .title {
                margin-top: 0;
            }
        }
    }

    section.special ul li {
        flex-basis: 100%;
    }
}
