// default fonts and color
$defaultFontFamily: "Helvetica Neue", Helvetica, "DejaVu Sans", "Microsoft YaHei", Arial, sans-serif;
$defaultFontSize: 14px;
$defaultFontColor: #242424;
$defaultBackgroundColor: #fff;

// clear all block level tags margin and padding.
// see also:
// https://developer.mozilla.org/en-US/docs/Web/HTML/Block-level_elements
// some reserve tags:
// audio, center, dir, dt, frameset, isindex, menu, noframes,
// tbody, td, th, thead, tr
address, article, aside, blockquote, body,
canvas, dd, div, dl, fieldset, figcaption,
figure, footer, form, h1, h2, h3, h4, h5, h6,
header, hgroup, hr, html, li, main, nav,
noscript, ol, output, p, pre, section, table,
tfoot, ul, video {
    margin: 0;
    padding: 0;
}


body {
    font-family: $defaultFontFamily;
    font-size: $defaultFontSize;
    color: $defaultFontColor;
    background-color: $defaultBackgroundColor;
}

.header {
    margin-top: 48px;
    margin-bottom: 32px;
    text-align: center;
    padding: 0 16px;

    h1 {
        font-size: 1.5em;
        letter-spacing: 3px;
        margin-bottom: 24px;
        color: #2b8ffc;
        font-weight: normal;
    }

    h2 {
        font-size: 2.2em;
        margin-bottom: 8px;
        font-weight: 200;
    }

    .intro {
        font-size: 1.2em;
        font-weight: 100;
    }
}

.screenshot {
    margin-bottom: 80px;
    padding: 0 16px;

    .photo {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 16px;

        img {
            display: block;
            width: 100%;
        }

        video {
            display: block;
            width: 100%;
            margin-top: 58px;
            margin-bottom: 80px;
        }
    }

    .thumb-list {
        //text-align: center;

        ul {
            list-style-type: none;
            //display: inline-block;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            li {
                //float: left;
                width: 64px;
                height: 46px;
                margin-left: 6px;
                margin-right: 6px;
                margin-bottom: 16px;
                cursor: pointer;

                img {
                    opacity: .5;
                    width: 100%;
                    border: 1px solid transparent;

                    // see also
                    // https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions
                    transition-property: opacity, border, box-shadow;
                    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
                    transition-duration: .35s, .35s, .35s;
                }

                &.video {
                    position: relative;

                    .fa {
                        position: absolute;
                        color: rgba(0,0,0,.5);
                        display: inline-block;
                        font-size: 2em;
                        width: 28px;
                        height: 28px;
                        top: 50%;
                        left: 50%;
                        margin-left: -14px;
                        margin-top: -14px;
                        text-align: center;
                        //transform: translate(-50%, -50%);
                    }
                }


                &.selected {
                    img {
                        opacity: 1;
                        border-color: #2b8ffc;
                        border-radius: 4px;
                        box-shadow: 0 0 12px #2b8ffc; //#95c0ec;
                    }
                }
            }

            // see also
            // https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes
            // https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements
            // &::after {
            //     // clear left float
            //     content: ("");
            //     display: block;
            //     clear: left;
            // }
        }
    }

}

.feature, .special, .plugin, .download {
    max-width: 1152px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
    padding: 0 16px;

    h2 {
        text-align: center;
        font-size: 2.5em;
        letter-spacing: 8px;
        margin-bottom: 64px;
        color: #2b8ffc;
        font-weight: 100;
    }

    .sub-title {
        text-align: center;
        font-size: 1.2em;
        font-weight: 100;
        margin-bottom: 64px;
    }
}

.feature, .special {
    ul {
        list-style-type: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        li {
            padding-left: 24px;
            padding-right: 24px;
            margin-bottom: 56px;

            box-sizing: border-box;
            flex: 0 0 33%;

            .frame {
                max-width: 360px;
                max-height: 360px;
                overflow: hidden;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 16px;

                img {
                    width: 100%;
                }
            }

            h3 {
                text-align: center;
                font-size: 18px;
                margin-bottom: 12px;
                font-weight: 100;
            }

            .content {
                padding: 0 16px;
            }
        }
    }
}

@media (max-width: 992px) {
    .feature, .special {
        ul {
            li {
                flex-basis: 50%;
            }
        }
    }
}

@media (max-width: 767px) {
    .header .intro {
        font-size: 1em;
    }

    .feature, .special {
        ul {
            li {
                flex-basis: 100%;
            }
        }
    }
}

.special {
    margin-bottom: 16px;

    h2 {
        margin-bottom: 16px;
    }

    ul li .frame {
        text-align: center;
        margin-bottom: 32px;

        .fa {
            display: inline-block;
            font-size: 72px;
            color: rgba(0, 0, 0, 0.3);
            width: 72px;
            height: 72px;
        }
    }
}

.plugin {

    h2 {
        margin-bottom: 16px;
    }

    .sub-title {
        margin-bottom: 24px;
    }

    .content {
        text-align: center;
        margin-bottom: 16px;

        ul {
            list-style-type: none;

            li {
                color: #777;
                margin-bottom: 4px;
            }
        }
    }
}

.download {

    ul {
        list-style-type: none;
        //display: inline-block;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        margin-bottom: 16px;

        li {
            position: relative;
            display: block;
            //float: left;

            cursor: pointer;

            background-color: #1d4f73;
            width: 110px;
            height: 32px;
            margin-left: 8px;
            margin-right: 8px;
            margin-bottom: 16px;

            border-radius: 4px;
            color: #fff;

            // see also
            // https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions
            transition-property: background-color;
            transition-timing-function: ease;;
            transition-duration: .35s;

            .fa {
                display: block;
                position: absolute;
                left: 10px;
                top: 6px;
                font-size: 20px;
                width: 20px;
                height: 20px;
            }

            .name {
                margin-left: 40px;
                margin-top: 10px;
                margin-right: 24px;
                font-size: 13px;
                text-align: center;
            }

            &.windows {
                .fa {
                    font-size: 18px;
                }
            }

            &.rasberrypi {
                img {
                    display: block;
                    position: absolute;
                    left: 10px;
                    top: 6px;
                    width: 20px;
                    height: 20px
                }

                .name {
                    margin-top: 5px;
                    font-size: 11px;
                }
            }

            &.tablet {
                .fa {
                    top: 7px;
                }
            }

            &:hover {
                background-color: lighten(#1d4f73, 15%);
            }

            &:active {
                background-color: darken(#1d4f73, 5%);
            }
        }

        // see also
        // https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes
        // https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements
        // &::after {
        //     // clear left float
        //     content: ("");
        //     display: block;
        //     clear: left;
        // }
    }

    .notice {
        text-align: center;
        color: #777;
    }
}

.footer {
    margin-bottom: 80px;

    h3 {
        text-align: center;
        font-size: 1.5em;
        letter-spacing: 2px;
        margin-bottom: 8px;
        font-weight: normal;
    }

    .follow-list {
        text-align: center;

        a {
            color: #1da1f2;

            .fa {
                font-size: 48px;
            }

            &:hover {
                color: darken(#1da1f2, 10%);
            }
            &:active {
                color: red;
            }
        }
    }

}
