// default fonts and color
// $defaultFontFamily: "Helvetica Neue", Helvetica, "DejaVu Sans", "Microsoft YaHei", Arial, sans-serif;
// $defaultFontFamily: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
$defaultFontFamily: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "Noto Sans", "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif;

$defaultFontSize: 16px;
$defaultFontColor: #666;
$secondFontColor: #aaa;
$defaultBackgroundColor: #fff;
$titleColor: #ffaa22;
$subTitleColor: #ee662a;
$linkColor: #55ccee;
$selectedBackgroundColor: #2b8ffc;

// clear all block level tags margin and padding.
// see also:
// https://developer.mozilla.org/en-US/docs/Web/HTML/Block-level_elements
// some reserve tags:
// audio, center, dir, dt, frameset, isindex, menu, noframes,
// tbody, td, th, thead, tr
address, article, aside, blockquote, body,
canvas, dd, div, dl, fieldset, figcaption,
figure, footer, form, h1, h2, h3, h4, h5, h6,
header, hgroup, hr, html, li, main, nav,
noscript, ol, output, p, pre, section, table,
tfoot, ul, video {
    margin: 0;
    padding: 0;
}

body {
    font-family: $defaultFontFamily;
    font-size: $defaultFontSize;
    color: $defaultFontColor;
    background-color: $defaultBackgroundColor;
}

a {
    color: $linkColor;
	text-decoration: none;
	
}

.header {
	width: 100%;
	background-color: $titleColor;

	.logo {
		margin-bottom: 40px;
		position: relative;
		padding: 16px;

		img {
			position: absolute;
			left: 16px;
			top: 16px;

			border-style: none;
            width: 32px;
            height: 32px;
            opacity: .9;
		}

		h1 {
			font-size: 1.2em;
			line-height: 32px;

			letter-spacing: 1px;
			margin-left: 40px;
			font-weight: 500;

			color: rgba(255,255,255,.9);
		}
	}

	.intro {
		padding-left: 32px;
		padding-right: 32px;
		padding-bottom: 36px;

		margin-bottom: 48px;
		
		.screenshot {
			position: relative;
			max-width: 640px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 32px;

			a {
				img {
					border-style: none;
					width: 100%;
					box-shadow: 0 0 32px rgba(0,0,0,.5);
				}
			}
		}
		
		p {
			font-size: 2.5em;
			margin-bottom: 8px;
			font-weight: 200;

			color: $defaultBackgroundColor;
			text-align: center;
		}
	}
}

.downloads {
	padding-bottom: 60px;

	h2 {
		color: $secondFontColor;
		text-align: center;
		margin-bottom: 24px;
		text-transform: uppercase;
	}

	ul {
		list-style-type: none;
		text-align: center;
		width: 300px;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		
		margin-bottom: 64px;

		li {
			margin-bottom: 8px;

			.name {
				display: inline-block;
				width: 130px;
				text-align: right;
				margin-right: 16px;
			}

			.link {
				color: $titleColor;
				text-decoration: underline;
			}
		}
	}

	.alt {
		text-align: center;

		a {
			text-decoration: underline;
		}
	}
}


@media (max-width: 767px) {
	.header {
		.intro {
			p {
				font-size: 1.8em;
			}
		}
	}
}