address, article, aside, blockquote, body,
canvas, dd, div, dl, fieldset, figcaption,
figure, footer, form, h1, h2, h3, h4, h5, h6,
header, hgroup, hr, html, li, main, nav,
noscript, ol, output, p, pre, section, table,
tfoot, ul, video {
  margin: 0;
  padding: 0; }

body {
  font-family: "Helvetica Neue", Helvetica, "DejaVu Sans", "Microsoft YaHei", Arial, sans-serif;
  font-size: 16px;
  color: #666;
  background-color: #fff; }

a {
  color: #55ccee; }

.header {
  background-color: #ffaa22;
  color: #fff;
  margin-bottom: 48px;
  text-align: center;
  padding: 0 16px 32px; }
  .header .wall {
    position: relative;
    padding-top: 36px;
    padding-bottom: 24px; }
    .header .wall .logo {
      width: 160px;
      height: 160px;
      border-radius: 80px;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      background-color: rgba(255, 255, 255, 0.9); }
      .header .wall .logo .y {
        position: absolute;
        font-size: 128px;
        top: -26px;
        left: 18px;
        color: #ffaa22; }
      .header .wall .logo .u {
        position: absolute;
        left: 104px;
        top: 60px;
        font-size: 32px;
        color: #ffaa22; }
  .header h1 {
    font-size: 1.5em;
    letter-spacing: 3px;
    margin-bottom: 24px;
    font-weight: 400;
    font-family: "Raleway", "Helvetica Neue", Helvetica, "DejaVu Sans", "Microsoft YaHei", Arial, sans-serif; }
  .header h2 {
    font-size: 2em;
    margin-bottom: 8px;
    font-weight: 200; }
  .header .intro {
    font-size: 1.1em;
    font-weight: 100; }

.glance {
  padding: 0 16px;
  margin-bottom: 88px; }
  .glance .content {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    max-width: 960px;
    line-height: 1.6;
    color: #999;
    font-weight: 200;
    font-size: 1.1em; }
    .glance .content a {
      color: #999;
      text-decoration: underline; }
  .glance .action {
    text-align: center; }
    .glance .action .play {
      display: inline-block;
      position: relative;
      width: 160px;
      height: 40px;
      margin-bottom: 16px;
      border-radius: 4px;
      background-color: #ee662a;
      color: #fff;
      transition-property: background-color;
      transition-timing-function: ease-in-out;
      transition-duration: .35s; }
      .glance .action .play:hover {
        background-color: #ffaa22; }
      .glance .action .play:active {
        background-color: #d44d11; }
      .glance .action .play .fa {
        position: absolute;
        left: 28px;
        top: 6px;
        font-size: 28px;
        width: 28px;
        height: 28px; }
      .glance .action .play .title {
        margin-top: 10px;
        margin-left: 32px;
        letter-spacing: 3px; }
    .glance .action .hint {
      color: #aaa;
      font-size: .9em;
      font-weight: 200; }

.feature {
  padding: 0 16px;
  margin-bottom: 80px;
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto; }
  .feature .screenshot {
    width: 55%;
    float: left; }
    .feature .screenshot img {
      width: 100%; }
  .feature .content {
    width: 45%;
    margin-left: 55%; }
    .feature .content .frame {
      padding-top: 16px;
      margin-left: 24px; }
      .feature .content .frame h2 {
        font-size: 2em;
        margin-bottom: 16px;
        font-weight: 400;
        color: #ffaa22;
        font-family: "Raleway", "Helvetica Neue", Helvetica, "DejaVu Sans", "Microsoft YaHei", Arial, sans-serif; }
      .feature .content .frame p {
        font-weight: 200;
        margin-bottom: 8px; }
      .feature .content .frame ul {
        list-style-type: none; }
        .feature .content .frame ul li {
          font-weight: 200;
          margin-bottom: 8px;
          color: #aaa; }
          .feature .content .frame ul li strong {
            color: #666; }
  .feature.right .screenshot {
    float: right; }
  .feature.right .content {
    margin-left: 0;
    margin-right: 55%; }
    .feature.right .content .frame {
      margin-left: 0;
      margin-right: 24px; }
  .feature::after {
    content: " ";
    display: block;
    clear: both; }

.feature-style .screenshot ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding: 16px; }
  .feature-style .screenshot ul li {
    width: 100px;
    height: 100px;
    background-color: #ffaa22;
    color: #fff;
    border-radius: 4px;
    display: block;
    float: left;
    text-align: center;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 16px;
    padding: 8px; }
    .feature-style .screenshot ul li .fa {
      display: block;
      font-size: 48px;
      width: 48px;
      height: 48px;
      margin: 12px auto 8px; }
    .feature-style .screenshot ul li .title {
      font-size: .8em;
      font-weight: normal; }
  .feature-style .screenshot ul::after {
    content: " ";
    display: block;
    clear: left; }

.feature-style .content .frame ul li {
  color: #666; }

.feature-plugin .screenshot ul {
  list-style-type: none;
  padding: 16px 0; }
  .feature-plugin .screenshot ul li {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 360px;
    height: 48px;
    background-color: #ffc76f;
    color: #fff;
    border-radius: 4px;
    display: block;
    margin-bottom: 16px;
    padding: 8px; }
    .feature-plugin .screenshot ul li .fa {
      position: absolute;
      display: block;
      font-size: 32px;
      width: 32px;
      height: 32px;
      top: 8px;
      left: 16px; }
    .feature-plugin .screenshot ul li .title {
      margin-left: 56px;
      margin-top: 6px; }

section {
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px;
  padding: 0 16px; }
  section h2 {
    text-align: center;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-bottom: 16px;
    color: #ffaa22;
    font-weight: 100;
    font-family: "Raleway", "Helvetica Neue", Helvetica, "DejaVu Sans", "Microsoft YaHei", Arial, sans-serif; }
  section .sub-title {
    text-align: center;
    font-size: 1.2em;
    font-weight: 100;
    margin-bottom: 64px; }

section.special ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  section.special ul li {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 56px;
    box-sizing: border-box;
    flex: 0 0 33%; }
    section.special ul li .frame {
      text-align: center;
      margin-bottom: 32px; }
      section.special ul li .frame .fa {
        display: inline-block;
        font-size: 72px;
        width: 72px;
        height: 72px; }
    section.special ul li h3 {
      text-align: center;
      font-size: 18px;
      margin-bottom: 12px; }
    section.special ul li .content {
      padding: 0 16px; }

.download h2 {
  margin-bottom: 48px; }

.download ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 16px; }
  .download ul li {
    float: left;
    position: relative;
    display: block;
    cursor: pointer;
    background-color: #16b3e0;
    width: 136px;
    height: 36px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 16px;
    border-radius: 4px;
    color: #fff;
    transition-property: background-color;
    transition-timing-function: ease;
    transition-duration: .35s; }
    .download ul li .fa {
      display: block;
      position: absolute;
      left: 22px;
      top: 8px;
      font-size: 20px;
      width: 20px;
      height: 20px; }
    .download ul li .name {
      margin-left: 12px;
      margin-top: 10px;
      font-size: 13px;
      text-align: center; }
    .download ul li.windows .fa {
      font-size: 18px; }
    .download ul li.rasberrypi img {
      display: block;
      position: absolute;
      left: 22px;
      top: 8px;
      width: 20px;
      height: 20px; }
    .download ul li.rasberrypi .name {
      margin-top: 12px;
      font-size: 12px;
      margin-left: 32px; }
    .download ul li:hover {
      background-color: #0d6983; }
    .download ul li:active {
      background-color: #041f27; }
  .download ul::after {
    content: "";
    display: block;
    clear: left; }

.download .notice {
  margin-bottom: 8px;
  text-align: center;
  color: #ccc; }

.footer {
  margin-bottom: 80px; }
  .footer h3 {
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 2px;
    margin-bottom: 8px;
    font-weight: 100;
    color: #ffaa22; }
  .footer .follow-list {
    text-align: center; }
    .footer .follow-list a {
      color: #1da1f2; }
      .footer .follow-list a .fa {
        font-size: 48px; }
      .footer .follow-list a:hover {
        color: #0c85d0; }
      .footer .follow-list a:active {
        color: #010a0f; }

@media (max-width: 992px) {
  .feature .content .frame {
    padding-top: 0;
    margin-left: 16px; }
  .feature-style .screenshot ul {
    padding: 0; }
    .feature-style .screenshot ul li {
      width: 80px;
      height: 80px; }
      .feature-style .screenshot ul li .fa {
        display: block;
        font-size: 36px;
        width: 36px;
        height: 36px;
        margin: 4px auto 4px; }
  section.special ul li {
    padding-left: 8px;
    padding-right: 8px; }
    section.special ul li .content {
      padding: 0 8px; } }

@media (max-width: 767px) {
  .header .wall .logo {
    zoom: .8; }
  body {
    font-size: 14px; }
  .feature .screenshot {
    width: 100%;
    float: none;
    margin-bottom: 8px; }
  .feature .content {
    width: 100%;
    margin-left: 0; }
    .feature .content .frame {
      margin-left: 0; }
    .feature .content h2 {
      text-align: center; }
  .feature.right .screenshot {
    float: none; }
  .feature.right .content {
    margin-right: 0; }
  .feature-style .screenshot ul {
    justify-content: center; }
  .feature-plugin .screenshot ul li {
    max-width: none;
    height: 32px;
    margin-bottom: 8px; }
    .feature-plugin .screenshot ul li .fa {
      font-size: 16px;
      width: 16px;
      height: 16px;
      top: 8px;
      left: 16px; }
    .feature-plugin .screenshot ul li .title {
      margin-top: 0; }
  section.special ul li {
    flex-basis: 100%; } }
